.jumbotron {
  background-color: #285c18;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 220px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #f03232; }

.tab-content {
  padding-top: 5px; }

.modal-button {
  margin-top: 5px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #285c18;
  margin-bottom: 0px;
  margin-top: 10px; }

.footer-address-icon {
  padding-right: 10px; }
