$green: #285c18;
$red: #f03232;
$yellow: #c9c006;
$white: #ffff;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
	background-color: $green;
	color: black;
	@include margenes(50px, 0px);
}

.card-hotel{
	flex: 1 220px;
	padding: 2px 0px 2px 0px;
    @include margenes(10px, 0px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn-reserva{
	width:100%;
    border-radius: 0px;
    background-color: $red;
}
.tab-content{
	padding-top: 5px;
}
.modal-button{
    @include margenes(5px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $green;
	margin-bottom: 0px;
	margin-top: 10px;
}
.footer-address-icon{
	padding-right: 10px;
}